#web_bg {
    background: -webkit-linear-gradient(
      0deg,
      rgba(173, 216, 230, 0.1) 0,          
      rgba(135, 206, 250, 0.1) 15%,       
      rgba(221, 160, 221, 0.1) 30%,        
      rgba(238, 130, 238, 0.1) 44%,       
      rgba(255, 192, 203, 0.1) 58%,      
      rgba(255, 182, 193, 0.1) 72%,       
      rgba(255, 218, 233, 0.1) 86%,      
      rgba(255, 182, 193, 0.1) 100%       
    );
    background: -moz-linear-gradient(
      0deg,
      rgba(173, 216, 230, 0.1) 0,
      rgba(135, 206, 250, 0.1) 15%,
      rgba(221, 160, 221, 0.1) 30%,
      rgba(238, 130, 238, 0.1) 44%,
      rgba(255, 192, 203, 0.1) 58%,
      rgba(255, 182, 193, 0.1) 72%,
      rgba(255, 218, 233, 0.1) 86%,
      rgba(255, 182, 193, 0.1) 100%
    );
    background: -o-linear-gradient(
      0deg,
      rgba(173, 216, 230, 0.1) 0,
      rgba(135, 206, 250, 0.1) 15%,
      rgba(221, 160, 221, 0.1) 30%,
      rgba(238, 130, 238, 0.1) 44%,
      rgba(255, 192, 203, 0.1) 58%,
      rgba(255, 182, 193, 0.1) 72%,
      rgba(255, 218, 233, 0.1) 86%,
      rgba(255, 182, 193, 0.1) 100%
    );
    background: -ms-linear-gradient(
      0deg,
      rgba(173, 216, 230, 0.1) 0,
      rgba(135, 206, 250, 0.1) 15%,
      rgba(221, 160, 221, 0.1) 30%,
      rgba(238, 130, 238, 0.1) 44%,
      rgba(255, 192, 203, 0.1) 58%,
      rgba(255, 182, 193, 0.1) 72%,
      rgba(255, 218, 233, 0.1) 86%,
      rgba(255, 182, 193, 0.1) 100%
    );
    background: linear-gradient(
      90deg,  
      rgba(173, 216, 230, 0.1) 0,
      rgba(135, 206, 250, 0.1) 15%,
      rgba(221, 160, 221, 0.1) 30%,
      rgba(238, 130, 238, 0.1) 44%,
      rgba(255, 192, 203, 0.1) 58%,
      rgba(255, 182, 193, 0.1) 72%,
      rgba(255, 218, 233, 0.1) 86%,
      rgba(255, 182, 193, 0.1) 100%
    );
  }